@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e5e6eb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #547aff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #547aff;
}

@layer components {
  .btn-primary {
    @apply py-2 text-white bg-gradient-to-b from-blue-500 to-indigo-900;
  }

  .btn-secondary {
    @apply py-[7px] text-grey-700 border-solid border border-grey-300;
  }

  .btn-disabled {
    @apply py-2 text-white bg-gray-300;
  }
}
