.header-filter {
  .ant-btn {
    border-radius: 8px;
    height: 44px;
    padding: 0 20px;
  }
  &__options {
    .ant-btn {
      &.active {
        background: linear-gradient(
          180deg,
          #547aff 0%,
          #4551de 100%
        ) !important;
        color: white !important;
      }

      &:not(:disabled):hover {
        background: linear-gradient(180deg, #547aff 0%, #4551de 100%);
        color: white !important;
      }
    }
  }

  .ant-segmented {
    height: 36px;

    .ant-segmented-group {
      margin-top: 1.5px;

      .ant-segmented-item {
        min-width: 70px;
        height: 28px;

        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 142.857% */
        color: #333747;

        &.ant-segmented-item-selected {
          color: #5766ff;
          font-style: normal;
          font-weight: 600;
        }
      }
    }
  }
}
