.allocations {
  .echarts-for-react {
    width: 260px !important;
    height: 260px !important;
  }

  .index {
    margin-bottom: 12px;
    display: flex;

    &__name {
      margin-left: 13px;
    }
  }
}

.allocation-tooltip {
  --antd-arrow-background-color: #fcfcfd !important;

  .ant-tooltip-inner {
    background-color: #fcfcfd !important;
    color: #333747 !important;
    font-size: 12px;
  }
}
