.unlock-schedule {
  .us-table {
    margin-top: 24px;
    padding: 24px;
    box-shadow: 0 0 16px 0 rgba(51, 55, 71, 0.08);
    border-radius: 8px;

    .us-header {
      margin-bottom: 16px;

      .ant-select {
        height: 44px;
      }

      .filter-tag {
        height: 44px;
        min-width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        border-radius: 8px;
        border: 1px solid #6b79ff;
        background: #eceefe;

        color: #5766ff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        .ant-tag-close-icon {
          font-size: 20px;
        }
      }
    }

    .table-pagination {
      .table-total {
        font-size: 14px;
      }

      .ant-pagination-item-active {
        background: #5766ff;
        border-color: #5766ff;

        a {
          color: white;
        }
      }
    }

    .pagination-mobile {
      display: none;
    }
  }
}
