.socials {
  &-item {
    border-radius: 8px;
    border: 1px solid #e5e6eb;
    background-color: #fff;

    &__top {
      border-bottom: 0.5px solid #e5e6eb;
      background-color: #fcfcfd;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;

      .brand {
        img {
          width: 28px;
          height: 28px;
        }
      }
    }

    &__content {
      .visit {
        border-bottom: 0.5px solid #e5e6eb;
      }

      .visit-chart {
        width: 170px;

        .echarts-for-react {
          height: 72px !important;
        }
      }
    }
  }
}
