.mobile-show {
  display: none;
}

.coin-tab {
  .table-pagination {
    .ant-pagination-item-active {
      background: #5766ff;
      border-color: #5766ff;

      a {
        color: white;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .coin-tab {
    .filter {
      width: 100%;
    }

    .table-pagination {
      display: flex;
    }
  }
  .desktop-show {
    display: none;
  }

  .pagination-mobile {
    display: flex !important;
  }
}

.custom-checkbox .ant-checkbox-inner {
  width: 20px !important; 
  height: 20px !important; 
}

.custom-checkbox .ant-checkbox-inner::after {
  width: 10px !important; 
  height: 10px !important; 
}
