.token {
  .allocation {
    .echarts-for-react {
      width: 300px !important;
      height: 300px !important;
    }
  }

  .vesting-schedule {
    width: 100% !important;

    .echarts-for-react {
      height: 100% !important;
    }
  }
}
