.detail-tab {
  .ant-tabs {
    font-family: 'Plus Jakarta Sans Medium';

    .ant-tabs-tab {
      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }

      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #5766ff;
          font-weight: bold;
          text-shadow: none;
        }
      }
    }

    .ant-tabs-tab-btn {
      padding: 0 32px;

      &:hover {
        color: #5766ff;
      }
    }

    .ant-tabs-ink-bar {
      background-color: #5766ff;
    }
  }

  .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin: 0;
  }
}
