.select-count-common {
  .ant-select-selection-item {
    color: #333747;
    text-align: center;
    font-family: "Plus Jakarta Sans Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}